.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 100px;
}
.conparent svg {
  margin-top: 55px;
  text-decoration: none;
}
.conparent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
.mail h6 {
  margin-top: 30px;
  color: black;
  text-decoration: none;
}
.conparent a {
  text-decoration: none;
}
.parentofcontact {
  margin-top: 100px;
}
.parentofcontact p {
  margin-top: 100px;
  text-align: center;
  color: rgb(108, 108, 108);
}
.conparent:hover {
  cursor: pointer;
  transform: scale(1.1);
  /* text-decoration: none; */
}

.parentofcontact h1:hover {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 100px;
  }
  .conparent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
  }
  .parentofcontact p {
    text-align: center;
    margin-top: 100px;
    color: rgb(105, 105, 105);
    width: 350px;
    margin-left: 5px;
  }
  .parentofcontact {
    margin-top: 10px;
  }
}
